.key{
    display:none;
  }
  #consultoria{
    display:none;
  }
  #reclutamiento{
    display:none;
  }
  .propuesta{
    display: none;
  }
  .boxdescuento{
    display:none;
  }
  .button-newnr{
    display: none;
  }
  .add-nr{
    display: none;
  }